

.mainbodybook{
    width: 80vw;
    /* display: flex; */
    height: 310vw;
    border-radius: 10vw;
    margin: 1% auto;
    /* margin-top: -18vw; */
    background-color: rgba(225, 225, 225, 0.4);
    backdrop-filter: blur(2px);
    filter: saturate(160%);
}

.mainbook{
    display: flex;
    width: 93%;
    overflow-x: scroll;
    gap: 2vw;
    height: 40vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vw;
}
.mainbook img{
    width: 100%;

}

.minibook img{
    width: 100%;

}

.minibook{
    display: flex;
    width: 93%;
    overflow-x: scroll;
    gap: 2vw;
    height: 30vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vw;
}

.bookblock1{
    height: 2.5vw;
    width: 10vw;
    background: #E0F416;
    border-radius: 3vw;
    text-align: center;
    /* padding-top: 1vw; */
    color: #A3B115;
    line-height: 2.5vw;
   
}

.bookblock1div{
    display: flex;
    justify-content: center;
    padding-top: 8vw;
}

#vid-1{
    border-radius: 30vw;
    margin-top: 10vw;
}

.component img{
    width: 100%;
}

.component{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vw;
}

.maintextbook{
    text-align: center;
    width: 100%;
    padding-top: 8vw;
    color: #000000;
}


/* ADAPTIVE */

@media screen and (max-width: 1024px){

    .menuopenposter{
        height: 320vw;

    }

    .mainbodybook{
        width: 100vw;
        height: 350vw;
    }

    .bookblock1 {
        height: 3.5vw;
        width: 11vw;
       
        padding-top: 0.6vw;
       
    }
}

@media screen and (max-width: 425px){

    .menuopenposter{
        height: 320vw;
        margin-top:-17vw;
        margin-left: -10vw;
        width: 110vw;

    }

    .maintextbook br {
        display: none;
      }

    .maintextbook{
        padding-right: 15vw;
    padding-left: 15vw;
    }

    .mainbodybook{
        width: 100vw;
        height: 450vw;
        margin-top: 11vw;
    }

    .bookblock1 {
        height: 7.5vw;
        width: 19vw;
        padding-top: 2.6vw;
        border-radius: 7vw;
       
    }
}

