

body{

    background: url("../img/grass.jpg");
    background-size: fill;
   

}

.mainbodyservice{
    width: 80vw;
    position: relative;
    /* display: flex; */
    height: 50vw;
    border-radius: 10vw;
    margin: 1% auto;
    /* margin-top: -18vw; */
    background-color: rgba(225, 225, 225, 0.4);
    backdrop-filter: blur(2px);
    filter: saturate(160%);
    overflow-y: scroll;
   
}
.menuserv{
    margin-top: -5vw;
}

.menuopenserv{
    margin-top: -14vw;
}

.bottom{
    padding-bottom: 20vw;
}
    
.maintextservice h1{
    height: 2.5vw;
    width: 6vw;
    background: #E0F416;
    border-radius: 3vw;
    text-align: center;
    /* padding-top: 1vw; */
    color: #A3B115;
    line-height: 2.5vw;
}

.maintextservice {
    display: flex;
    justify-content: center;
    padding-top: 8vw;
}
    
/* block 1 */

.serviceblock1{
    display: flex;
    justify-content: center;
    margin-top: 5vw;
}

.serviceblock1 img{
    width: 15vw;
}

.textblock1{
    margin-left: 3vw;
    
}

.textblock1 p{
    margin-top: 3vw;
    color: #ffff;
}

.textblock2 {
    height: 3.5vw;
    width: 16vw;
    background-color: rgba(255, 252, 252, 0.346);
    backdrop-filter: blur(10px);
    filter: saturate(160%);
    border-radius: 3vw;
    text-align: center;
    padding-top: 1.3vw;
    /* margin-left: 6vw; */
    margin-top: 4.5vw;
}


/* ADAPTIVE */
@media screen and (max-width: 1024px){

    .maintextservice h1 {
        height: 3.5vw;
        width: 9vw;
        padding-top: 0.5vw;
        
    }

    .serviceblock1 img {
        width: 19vw;
        height: 20vw;
    }


    .textblock2{
        padding-top: 0.6vw;
    }

    .mainbodyservice{
        height: 170vw;
        width: 100vw;
    }

    .menuopenserv {
        height: 218vw;
        margin-top: -15vw;
    }


    .bottom {
        padding-bottom: 100vw;
    }


}



@media screen and (max-width: 425px){

    .maintextservice h1 {
        height: 8.5vw;
        width: 18vw;
        padding-top: 3vw;
        border-radius: 25vw;
        
    }

    .serviceblock1 img {
        width: 19vw;
        height: 20vw;
    }


    .textblock2{
        height: 8.5vw;
        width: 28vw;
        padding-top: 2.5vw;
        border-radius: 25vw;
    }

    .mainbodyservice{
        height: 170vw;
        width: 100vw;
        margin-top: 11vw;
    }

    .menuopenserv {
        height: 218vw;
        margin-top:-17vw;
        margin-left: -10vw;
        width: 110vw;
    }

    .serviceblock1 {
        margin-bottom: 12vw;
    }

}

