

.maintextshop{

    text-align: center;
    width: 100%;
    padding-top: 8vw;
    color: #ffffff;
}
.menushop{
    margin-top: -10vw;
}
.mainbodyshop{
    width: 80vw;
    /* display: flex; */
    height: 750vh;
    border-radius: 10vw;
    margin: 1% auto;
    margin-top: 15vw;
    background-color: rgba(225, 225, 225, 0.4);
    backdrop-filter: blur(2px);
    filter: saturate(160%);
}

/* block 1 */

.shopblock1{
    margin-top: 5vw;
}

.shopblock1 img{
    width: 100%;
    justify-content: center;
}

.bustext{
    height: 3.5vw;
    width: 25vw;
    border-radius: 3vw;
    text-align: center;
    padding-top: 1.4vw;
    color: #ffffff;
    background-color: rgba(225, 225, 225, 0.4);
    backdrop-filter: blur(1px);
    filter: saturate(160%);
}

.bustext1{
    height: 3.5vw;
    width: 16vw;
    background: #E0F416;
    border-radius: 3vw;
    text-align: center;
    padding-top: 1.4vw;
    color: #A3B115;
}


/* block2 */

.shopblock2{
    position: relative;
    top: 50vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    gap: 2vw;
}

.bus{
    display: flex;
    margin-top: -45vw;
    margin-left: 18vw;
    gap: 1vw;
}

.stext p{
    color: #ffffff;
}

.stext h1 {
    margin-top: 1vw;
    margin-bottom: 0.5vw;
}


/* block 3 */

.shopblock3{
    margin-top: 55vw;
    text-align: center;
}

.shopblock3 img{
    width: 100%;
}

.buy2 {
    height: 2.5vw;
    width: 8vw;
    background: #E0F416;
    border-radius: 3vw;
    text-align: center;
    padding-top: 0.8vw;
    color: #A3B115;
    margin-top: 1vw;
    /* margin-left: auto; */
    margin-left: 36vw;
}

/* block 4 */

.shopblock4{
    position: relative;
    top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    gap: 2vw;
}

/* block 5 */

.shopblock5{
    margin-top: 10vw;
    text-align: center;
}

.shopblock5 img{
    width: 100%;
}

